.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox___5WQf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-W5n6cwFXir1u6n);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox___5WQf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5WQf > :global(.__wab_flex-container) > *,
.freeBox___5WQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5WQf > :global(.__wab_flex-container) > picture > img,
.freeBox___5WQf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox___5WQf {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox___5WQf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox___5WQf > :global(.__wab_flex-container) > *,
  .freeBox___5WQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5WQf > :global(.__wab_flex-container) > picture > img,
  .freeBox___5WQf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
  display: flex;
}
.freeBox__lTvfL {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  align-self: center;
}
.freeBox__lTvfL > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lTvfL > :global(.__wab_flex-container) > *,
.freeBox__lTvfL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lTvfL > :global(.__wab_flex-container) > picture > img,
.freeBox__lTvfL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__lTvfL {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__jTcx:global(.__wab_instance) {
  position: relative;
}
.svg__i17Zr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aXpMa {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__pvlBj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wob5X:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__wob5X:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__wrtR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4Wgiv {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__ktY0F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___8AlJl:global(.__wab_instance) {
  position: relative;
}
.svg__rbXzB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___7Vw19 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__raTtV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__kb2G {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__kb2G > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 930px) {
  .freeBox__kb2G {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__kb2G > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__kb2G > :global(.__wab_flex-container) > *,
  .freeBox__kb2G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kb2G > :global(.__wab_flex-container) > picture > img,
  .freeBox__kb2G
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__aDFd:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__aDFd:global(.__wab_instance) {
    display: none;
  }
}
.svg__duWD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cMais {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rajBp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__acFKs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3JmZj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
